# Data paths
RAW_DATA_DIR=./data/raw
WAREHOUSE_PATH=./data/warehouse/air_quality.duckdb

# IRCELINE config
IRCELINE_SOS_URL=https://geo.irceline.be/sos/api/v1

# Open-Meteo (no key needed)
OPEN_METEO_URL=https://api.open-meteo.com/v1/forecast

# Airflow
AIRFLOW_HOME=./airflow
AIRFLOW__CORE__LOAD_EXAMPLES=false

# FastAPI
API_HOST=0.0.0.0
API_PORT=8000